<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/output.css">
		<script src="https://kit.fontawesome.com/463c3f4f8a.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/styles/choices.min.css"/> 
		
		{% block head %}{% endblock %}

		</head>
		<body class="bg-cyan-950">

			{% include "./layouts/_background.twig" %}

			<div class="flex w-full">
				{% if user %}
					{% include "./layouts/_sidebar.twig" %}
				{% endif %}

				<div class="w-full">
					{% block header %}
						{% include "./layouts/_header.twig" %}
					{% endblock %}

					{% block main %}{% endblock %}

					{% block footer %} {% include "./layouts/_footer.twig" %}{% endblock %}
				</div>

			</div>


			{% include "./layouts/_addIngredient.twig" %}


			<script src="/scripts/choices.min.js"></script>
			<script src="/dist/preline.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
			
			{% block script %}
				<script src="/js/script.js"></script>
			{% endblock %}
			
		</body>
	</html>
