{% extends "../base.twig" %}

{% block head %}

	<title>Login</title>

{% endblock %}

{% block main %}

	<div class=" w-100 mx-auto px-6  sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32 relative md:pt-32 pb-32 pt-12">

		<div class="block rounded-lg bg-black bg-opacity-70 px-6  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]  md:py-4 md:px-12">
			<div class="max-w-2xl px-4 py-8 mx-auto lg:py-10">
				<h2 class="mb-4 text-5xl font-bold text-white text-center ">Login</h2>
				<form method="POST" action="/login">
					<div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
						<div class="col-span-2">
							<label for="email" class="block mb-2 text-sm font-medium text-white ">Adresse mail</label>
							<input type="text" name="email" id="email" class="border {% if errors.name %} border-red-500 bg-red-100 {% else %} border-gray-300 bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required>
							<p class="text-red-500 mt-2">{{error.email}}</p>
						</div>
						<div class="col-span-2">
							<label for="password" class="block mb-2 text-sm font-medium text-white ">Mot de passe</label>
							<input type="password" id="password" name="password" class="border {% if errors.name %} border-red-500 bg-red-100 {% else %} border-gray-300 bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required>
							<p class="text-red-500 mt-2">{{error.password}}</p>
						</div>
						<div class="col-span-2 text-center">
							<button type="submit" class="item-center text-black bg-teal-300 hover:bg-teal-400 focus:ring-4 focus:outline-none focus:ring-cyan-300  shadow-lg shadow-cyan-500/50  font-medium rounded-md text-lg px-5 py-2.5 text-center mr-2 mb-2">Valider</button>
						</div>
					</div>
					<p class="text-sm font-light text-white  text-center">
							Vous n'avez pas de compte?
							<a href="/register" class="font-medium text-sky-600 hover:underline ">Inscription</a>
						</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
