{% extends "../base.twig" %}

{% block head %}

	<title>Login</title>

{% endblock %}

{% block main %}

	<div class="  mx-auto px-6  sm:max-w-2xl md:max-w-3xl md:px-8 lg:max-w-5xl xl:max-w-7xl xl:px-32 relative md:pt-32 pb-32 pt-12">
		<div class="block rounded-lg bg-white bg-opacity-80 px-6 shadow-sm shadow-gray-100  md:py-4 md:px-4">
			<div class="max-w-2xl px-4 py-8 mx-auto lg:py-10">
				<h2 class="mb-4 text-5xl font-bold font-serif text-blue-600 text-center ">Login</h2>
				<form method="POST" action="/login">
					<div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
						<div class="col-span-2 relative">
							<label for="email" class="block mb-2 text-sm font-medium ">Adresse mail</label>
							<input type="text" name="email" id="email" class="border border-gray-300 {% if errors.email %} ring-2 ring-red-500 bg-red-100  {% endif %}  text-gray-800 text-sm rounded-lg focus:outline-blue-500  block w-full p-2.5 " {% if post %} value="{{post.email}}" {% endif %} required>
							{% if errors.email %}
								<div class="absolute top-10 right-0 flex items-center pointer-events-none pr-3 ">
									<svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
									</svg>
								</div>
								<p class="text-red-500 mt-2">{{errors.email}}</p>
							{% endif %}

						</div>
						<div class="col-span-2 relative">
							<label for="password" class="block mb-2 text-sm font-medium  ">Mot de passe</label>
							<input type="password" id="password" name="password" class="border border-gray-300 {% if errors.password %} ring-2 ring-red-500 bg-red-100 {% endif %}  text-gray-800 text-sm rounded-lg focus:outline-blue-500 block w-full p-2.5 " required>
							{% if errors.password %}
								<div class="absolute top-10 right-0 flex items-center pointer-events-none pr-3 ">
									<svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
									</svg>
								</div>
								<p class="text-red-500 mt-2">{{errors.password}}</p>
							{% endif %}
						</div>
						<div class="col-span-2 text-center">
							<button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm">Valider</button>
						</div>
					</div>
					<p class="text-sm font-light text-cyan-950  text-center">
						Vous n'avez pas de compte?
						<a href="/register" class="font-medium text-blue-500 hover:underline ">Inscription</a>
					</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}





